body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h5 {
    font-weight: bold;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar {
    background-color: #324875; /* Dark blue */
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

/* Default styles for the content wrapper */
.content-wrapper {
    transition: filter 0.3s ease;
}

/* Add this class when a modal is active to blur the background */
.modal-open .content-wrapper {
    filter: blur(5px); /* Adjust the blur intensity as needed */
}

/* Modal default styles */
.modal {
    display: none; /* Hidden by default */
}

/* Footer styles */
footer {
    background-color: #324875; /* Same dark blue as the navbar */
    color: #ecf0f1; /* Light text for contrast */
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    margin: 0;
}

